{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}GoFish{% endblock %}

{% block bootstrap3_extra_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/default.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-slider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVy4b6K62PpbfprJp8-4PTTk-ed9pV3Rc&v=3."></script>
    <script src="/static/js/bootstrap-slider.js"></script>
{% endblock %}

{% block bootstrap3_content %}
     <!-- Fixed navbar -->
    {% include 'navbar.html' %}
    <div id="map-canvas"></div>
{% endblock %}

{% block bootstrap3_extra_script %}
    <script src="/static/js/map.js"></script>
{% endblock %}